name: run_app_yaml

on:
  push:
    branches: [main]
  schedule:
    # github actions のデフォルトの time zone が UTC なので、日本時間 - 9時間 した値を書く
    - cron:  '2 2 * * *'
  #pull_request:
  workflow_dispatch:
    branches: [main]

jobs:
  run-main:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.8'
          architecture: 'x64'
      - name: Get Python version
        run: python -V
      - name: Install dependencies
        run: pip install -r requirements.txt
      - name: Run Python
        run: 
            python app.py
        env:
            ACCESS_TOKEN: ${{secrets.ACCESS_TOKEN}}
            channel_id: ${{secrets.CHANNEL_ID}}
            DATABASE_URL: ${{secrets.DATABASE_URL}}

